/*-- Austin Moore
    Assignment 8.2
    4/22/2024
    */


    a:hover {
        text-decoration: underline;
    }
    
    h1 {
        text-align: center;
        padding: 20px;
        font-weight: 400;
    }
    
    h2 {
        color: #b93f08;
    }
    
    header {
        color: rgb(255, 255, 255);
        background-color: #b93f08;
    }
    
    .container {
        margin: 2% 5% 100px 5%;
        padding: 10px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .navbar {
        text-align: left;
        word-spacing: 50px;
        overflow: hidden;
        display: block;
        text-decoration: white;
        text-decoration-color: white;
        color: white;
        padding: 14px 16px;
        text-decoration: underline none;
        border-bottom-width: 15px;
        border-bottom-style: solid;
        border-bottom-color: #999966;
    }
    
    .navbar a {
        color: black;
        text-decoration-line: none;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 50%;
    }
    
    .card h2 {
        text-align: center;
        font-size: 2em;
        color: #b93f08;
        font-weight: 400;
    }
    
    .card-contents {
        padding: 2px 16px;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    
    /* New CSS Rules */
    #movies {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 30px;
    }
    
    #movies th,
    #movies td {
        border-collapse: 2px solid #000000; /* Add border to both th and td */
        padding: 8px;
    }

    #movies th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }
    
    th {
        text-align: left;
        font-size: 1em;
        padding: 5px;
        background-color: #b93f08;
        color: rgb(255, 255, 255);
        border-color: black;
        border-inline-color: black;
        border-width: 5px;
    }


    
    .footer {
        background-color: #b93f08;
        position: bottom;
        bottom: 0%;
        width: 100%;
        }

    .footer p {
        font-weight: 400px;
        padding: 10px;
        font-style: italic;
        text-align: left;
        color: white;
        }

    .footer a {
        color: white;
        text-align: right;
        text-decoration-line: none;
        font-style: italic;
        }


